---
interface Props {
    Text: string;
    Link: string;
    target?: string;
    rel?: string;
    type?: "Default" | "Reverse";
}
const { Text, Link, target, rel, type = "Default" } = Astro.props;

const ButtonType = {
    Default: `inline-block px-6 py-2 rounded-xl border-2 border-web-dark-blue bg-web-pearl-blue font-semibold text-lg shadow-lg 
        hover:shadow-2xl hover:bg-web-dark-blue hover:scale-110 transition-transform duration-300 cursor-pointer`,
    Reverse: `px-6 py-2 rounded-xl border-2 border-web-pearl-blue bg-web-night-blue font-semibold text-lg shadow-lg 
        hover:shadow-2xl hover:bg-web-pearl-blue hover:scale-105 transition-transform duration-300 cursor-pointer`,
};
---

<a
    href={Link}
    target={target}
    rel={rel}
    class={ButtonType[type] || ButtonType.Default}
>
    {Text}
</a>
