@import './general-sans.css';
@import "tailwindcss";

@theme {
  /* -- Fonts -- */
  --font-fallback: 'Adjusted Arial Fallback', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Noto Sans', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-primary: 'GeneralSans';

  /* --- Web Colors ---*/
  --color-web-grey: #e0e1dd;
  --color-web-pearl-blue: #778da9;
  --color-web-dark-blue: #415a77;
  --color-web-night-blue: #0D1B2A;
}

@layer base {

  /* Disable overscroll behavior */
  html,
  body {
    overscroll-behavior: none;
    overscroll-behavior-y: none;
  }
}

html,
body {
  font-family: 'GeneralSans', var(--font-fallback);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background: var(--color-web-night-blue);
  color: var(--color-web-grey);
  margin: 0;
  padding: 0;
}

@utility bg-gradient {
  background: linear-gradient(to top, var(--color-web-night-blue), var(--color-web-dark-blue));
}

@font-face {
  font-family: 'Adjusted Arial Fallback';
  src: local(Arial);
  size-adjust: 112%;
  ascent-override: 74%;
  descent-override: normal;
  line-gap-override: normal;
}