@import "tailwindcss";

@theme {
    /* --- Web Colors ---*/
    --color-web-grey: #e0e1dd;
    --color-web-pearl-blue: #778da9;
    --color-web-dark-blue: #415a77;
    --color-web-night-blue: #0D1B2A;
}

@layer base {
    /* Disable overscroll behavior */
    html,
    body {
        overscroll-behavior: none;
        overscroll-behavior-y: none;
    }
}

html, body { 
    background: var(--color-web-night-blue);
	color: var(--color-web-grey);
	margin: 0;
    padding: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

@utility bg-grid-container {
  position: relative;
  background-image: 
    linear-gradient(to right, rgba(224, 225, 221, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(224, 225, 221, 0.1) 1px, transparent 1px);
  background-size: 60px 60px;

  /* Difuminado arriba y abajo */
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 5%, black 90%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to bottom, transparent, black 5%, black 90%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}