---
interface Props {
    subtitle: string;
}

const { subtitle } = Astro.props

import { SOCIAL } from "@/consts/social";

import SocialButton from "@/components/buttons/socialButton.astro";
---
<section class="w-auto h-[95dvh] md:h-[85dvh] px-4 sm:px-12 md:px-24 lg:px-64 py-4 pt-32 md:pt-8
    flex flex-col md:flex-row justify-center bg-grid-container">
    <div class="flex flex-col justify-center items-center">
        <div class="text-center">
            <h1 class="text-5xl lg:text-7xl font-bold">
                Pau Segués Vitutia
            </h1>
        </div>
        <div class="my-6 md:my-12 text-center">
            <h2 class="text-3xl lg:text-5xl">
                {subtitle}
            </h2>
        </div>
        <div class="flex flex-row space-x-4">
            {
                SOCIAL.map((social) => (
                    <SocialButton social={social}/>
                ))
            }
        </div>
    </div>
</section>