---
interface Props {
    Text: string,
}
const { Text } = Astro.props
---
<button type="submit"
   class="bg-web-dark-blue text-white text-lg font-medium px-5 py-2 rounded-xl border-2 border-web-grey cursor-pointer
          shadow-md hover:shadow-lg hover:scale-105 
          hover:bg-web-pearl-blue transition-all duration-300 ease-out">
    { Text }
</button>