---
interface Props {
    Text: string,
    Link: string,
}
const { Text, Link } = Astro.props
---
<a href={Link}
   class="p-6 rounded-xl border-2 border-web-dark-blue bg-web-pearl-blue font-semibold text-lg shadow-lg 
        hover:shadow-2xl hover:bg-web-dark-blue hover:scale-105 transition-transform duration-300 cursor-pointer">
    { Text }
</a>