<div
  id="loading"
  class="fixed inset-0 z-200 flex flex-col items-center justify-center gap-4 backdrop-blur-sm"
>
  <!-- Spinner -->
  <div class="h-10 w-10 border-4 border-web-pearl-blue border-t-web-grey rounded-full animate-spin"></div>

  <!-- Nom personalitzat -->
  <p class="text-lg font-semibold text-web-grey tracking-wide">
    Pau Segués Vitutia
  </p>
</div>
