---
interface Props {
    legal: string[];
    privacity: string[];
}

const { legal, privacity } = Astro.props
---
<footer class="bg-web-dark-blue">
    <div>
        <h5>Footer | Pau Segués Vitutia Web</h5>
    </div>
    <div class="flex justify-center items-center space-x-6 py-4 [&>a]:hover:scale-110">
        <a href={legal[1]}>{legal[0]}</a>
        <a href={privacity[1]}>{privacity[0]}</a>
    </div>
</footer>