---
interface Props {
    subtitle: string;
}

const { subtitle } = Astro.props

import { SOCIAL } from "@/consts/social";

import SocialButton from "@/components/buttons/socialButton.astro";
---
<section class="w-auto h-[85dvh] px-4 sm:px-12 md:px-24 lg:px-64 py-4 pt-32 md:pt-8
    flex flex-col md:flex-row justify-center md:justify-between bg-grid-container">
    <div class="flex flex-col justify-center items-center md:items-start">
        <div>
            <h1 class="text-5xl lg:text-7xl font-bold">
                Pau Segués Vitutia
            </h1>
        </div>
        <div class="my-6 md:my-12">
            <h2 class="text-3xl lg:text-5xl">
                {subtitle}
            </h2>
        </div>
        <div class="flex flex-row space-x-4">
            {
                SOCIAL.map((social) => (
                    <SocialButton social={social}/>
                ))
            }
        </div>
    </div>
    <div class="flex justify-center items-center mt-6 md:mt-0">
        <img src="/images/pau-segues.webp" alt="Pau Segués Vitutia" class="w-[400px] md:w-[350px] lg:w-[450px] h-auto rounded-2xl">
    </div>
</section>