---
interface Props {
    subtitle: string;
    content: string;
    image: {
        src: string;
        alt: string;
    };
}

const { subtitle, content, image } = Astro.props;
---
<section class="w-full min-h-[70dvh] flex items-center">
    <div class="flex flex-col md:flex-row items-center justify-center w-full px-4 sm:px-12 md:px-24 lg:px-64 py-8 gap-8 md:gap-24">
        <!-- Text content -->
        <div class="flex-1 flex flex-col justify-center gap-4">
            <h2 class="text-2xl font-bold">{subtitle}</h2>
            <div set:html={content}></div>
        </div>

        <!-- Image -->
        <div class="flex-1 flex justify-center">
            <img 
                src={image.src} 
                alt={image.alt} 
                class="max-h-[60dvh] w-auto rounded-2xl object-cover"
            />
        </div>
    </div>
</section>