---
/**
 * Hero Component
 * The primary landing section of the Home page.
 * Handles internationalization, dynamic titles, and social media links.
 */

import { getLangFromUrl, useTranslations } from '@/i18n/utils';

// Internationalization Setup: Extract language from URL and initialize translation helper
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Data Import: List of social media profiles and their metadata
import { SOCIAL } from "@/consts/social";

// UI Components
import SocialButton from "@/components/buttons/socialButton.astro";
import Typewriter from "@/components/typeWriter.astro";
---
<section
    class="w-auto h-[95dvh] md:h-[85dvh] px-4 sm:px-12 md:px-24 lg:px-64 py-4 pt-32 md:pt-8
    flex flex-col md:flex-row justify-center bg-gradient"
>
    <div class="flex flex-col justify-center items-center">
        <div class="text-center">
            <h1 class="text-5xl lg:text-7xl font-bold">Pau Segués Vitutia</h1>
        </div>

        <div class="my-6 md:my-12 text-center">
            <h2 class="text-3xl lg:text-5xl min-h-[1.2em]">
                <Typewriter words={t('pages.home.hero.subtitles')} />
            </h2>
        </div>

        <div class="flex flex-row space-x-4">
            {SOCIAL.map((social) => <SocialButton social={social} />)}
        </div>
    </div>
</section>