---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { routes } from "@/i18n/routes";
import Button from "@/components/buttons/primaryButton.astro";
---

<section class="w-full py-12 px-4 sm:px-10 md:px-24 lg:px-36">
    <div
        class="flex flex-col md:flex-row justify-center items-center gap-10 md:gap-12"
    >
        <div class="shrink-0">
            <img
                src="/images/pausegues.webp"
                alt="Pau Segués Vitutia"
                class="w-[250px] sm:w-[300px] md:w-[350px] lg:w-[400px] h-auto rounded-2xl"
            />
        </div>
        <div>
            <p class="max-w-xl text-xl mb-8">
                {t('pages.home.WhoIAm.AboutText')}
            </p>
            <div class="flex justify-center md:justify-start">
                <Button
                    Text={t('pages.home.WhoIAm.AboutButton')}
                    Link={routes.about[lang as keyof typeof routes.about]}
                />
            </div>
        </div>
    </div>
</section>
