---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import "@/styles/global.css";

import { LayoutTranslations } from "@/i18n/layoutTranslations";
const LayoutTranslationsCA = LayoutTranslations['ca']

import Header from "@/sections/header.astro";
import Footer from "@/sections/footer.astro";
import Loading from "@/components/loading.astro";
---
<!doctype html>
<html lang="ca">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="relative">
		<Loading />
		<div id="pageWrapper" class="opacity-0 transition-opacity duration-500">
			<Header 
				linksTexts={LayoutTranslationsCA['headerLinkTexts']}
				linksHref={LayoutTranslationsCA['headerLinksHref']}
			/>
			<main>
				<slot />
			</main>
			<Footer 
				legal={LayoutTranslationsCA['footerLegal']}
				privacity={LayoutTranslationsCA['footerPrivacity']}
				cookies={LayoutTranslationsCA['footerCookies']}
				description={LayoutTranslationsCA['description']}
				titleSocial={LayoutTranslationsCA['titleSocial']}
			/>
		</div>
	</body>
</html>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    // Amaguem el loader
    const loader = document.querySelector("body > loading, #loading");
    if (loader) loader.style.display = "none";

    // Mostrem TOT el contingut (header + pàgina + footer)
    const page = document.getElementById("pageWrapper");
    if (page) page.classList.remove("opacity-0");
  });
</script>
