---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import "@/styles/global.css";

import { LayoutTranslations } from "@/i18n/layoutTranslations";
const LayoutTranslationsEN = LayoutTranslations['en']

import Header from "@/sections/header.astro";
import Footer from "@/sections/footer.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<Header 
			linksTexts={LayoutTranslationsEN['headerLinkTexts']}
			linksHref={LayoutTranslationsEN['headerLinksHref']}
		/>
		<main>
			<slot />
		</main>
		<Footer 
			legal={LayoutTranslationsEN['footerLegal']}
			privacity={LayoutTranslationsEN['footerPrivacity']}
		/>
	</body>
</html>