---
import LayoutAdmin from "@/layouts/LayoutAdmin.astro"; // Layout general per pàgines d'admin
import { supabase } from "@/lib/supabase"; // Instància de Supabase per gestionar autenticació

// Agafa les cookies d'autenticació
const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

// Si no hi ha cap token, redirigeix a la pàgina de login
if (!accessToken || !refreshToken) {
  return Astro.redirect("/admin");
}

let session;
try {
  // Intenta establir la sessió amb Supabase utilitzant els tokens
  session = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  // Si hi ha error a la sessió, elimina les cookies i redirigeix al login
  if (session.error) {
    Astro.cookies.delete("sb-access-token", {
      path: "/", // Assegura que la cookie s'elimina en tot el domini
    });
    Astro.cookies.delete("sb-refresh-token", {
      path: "/",
    });
    return Astro.redirect("/admin");
  }
} catch (error) {
  // En cas d'error inesperat, també elimina les cookies i redirigeix
  Astro.cookies.delete("sb-access-token", {
    path: "/",
  });
  Astro.cookies.delete("sb-refresh-token", {
    path: "/",
  });
  return Astro.redirect("/admin");
}
---

<!-- Utilitza el layout d'administració, passant el títol com a prop -->
<LayoutAdmin title="Dashboard">
  <!-- Secció de títol del panell -->
  <section class="flex flex-col items-center justify-center mt-12">
    <div class="text-center space-y-4">
      <h1 class="text-2xl md:text-4xl font-bold">Pau Segués Vitutia Web</h1>
      <p class="text-base md:text-lg">
        Panell de control d'administració
      </p>
    </div>
  </section>

  <!-- Secció amb opcions del panell -->
  <section class="flex flex-col items-center justify-center mt-12">
    <div>
      <ul class="flex flex-col gap-4 [&>li]:py-4 [&>li]:px-12 [&>li]:hover:scale-105 [&>li]:transition [&>li]:border-2 [&>li]:bg-web-pearl-blue [&>li]:hover:bg-web-dark-blue [&>li]:hover:cursor-pointer">
        <!-- Item de llista per accedir a la secció de projectes -->
        <li
          class="flex items-center justify-center p-6 rounded-xl border-2 border-web-dark-blue bg-web-pearl-blue font-semibold text-lg shadow-lg hover:shadow-2xl hover:bg-web-dark-blue hover:scale-105 transition-transform duration-300 cursor-pointer"
        >
          <a href="/admin/projects" class="w-full text-center">Projectes</a>
        </li>
        <li
          class="flex items-center justify-center p-6 rounded-xl border-2 border-web-dark-blue bg-web-pearl-blue font-semibold text-lg shadow-lg hover:shadow-2xl hover:bg-web-dark-blue hover:scale-105 transition-transform duration-300 cursor-pointer"
        >
          <a href="/admin/skills" class="w-full text-center">Skills</a>
        </li>
      </ul>
    </div>
  </section>
</LayoutAdmin>
